<app-header></app-header>

<section class="selection">
  <div class="row">
    <div class="col m6 s12 pointer energy-element sun no-padding grey lighten-2">
      <div class="valign-wrapper fullheight">
        <i class="fal fa-sun center-block super-large"></i>
      </div>
    </div>
    <div class="col m6 s12 pointer energy-element fire no-padding grey lighten-2">
      <div class="valign-wrapper fullheight">
        <i class="fal fa-burn center-block super-large"></i>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <h1>
    {{title}}
  </h1>
  <app-demo></app-demo>
</div>

