.selection .energy-element {
  height: 30rem;
}

.selection .energy-element.sun {
  background-image: repeating-linear-gradient(62deg, transparent, transparent 35px, rgba(255, 255, 255, .2) 35px, rgba(255, 255, 255, .2) 70px);
}

.selection .energy-element.sun:hover,
.selection .energy-element.sun:active {
  background-color: #ffe082 !important;
}

.selection .energy-element.sun:hover .fal,
.selection .energy-element.sun:active .fal {
  color: #ffc107;
}

.selection .energy-element.fire {
  background-image: repeating-linear-gradient(175deg, transparent, transparent 35px, rgba(255, 255, 255, .2) 35px, rgba(255, 255, 255, .2) 70px);
}

.selection .energy-element.fire:hover,
.selection .energy-element.fire:active {
  background-color: #e57373 !important;
}

.selection .energy-element.fire:hover .fal,
.selection .energy-element.fire:active .fal {
  color: #f44336;
}


.selection .energy-element .valign-wrapper {

}
