/* You can add global styles to this file, and also import other style files */
.fullheight {
  height: 100% !important;
}

.pointer {
  cursor: pointer;
}

.super-large {
  font-size: 12rem;
}

.no-margin {
  margin: 0 !important;
}

.inline-block {
  display: inline-block !important;
}
